@import url("https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap");

h3 {
  text-decoration: none;
  font-family: "Josefin Sans", sans-serif;
}

.card-body {
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.view-btn {
  height: 2.5rem;
  margin-top: 1rem;
}

.list-container {
  padding: 1rem;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.container {
  padding: 1.5rem;
}

.modal-container {
  padding: 1rem;
}

.list-container {
  padding: 1rem;
  margin-top: 0.5rem;
  padding-bottom: 3rem;
}

.card-body {
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.card-info {
  flex: 2;
  margin: 0.25rem;
}

.btn-info {
  height: 2.5rem;
  margin-top: 1rem;
}

.card {
  height: 6rem;
  align-content: center;
}

nav {
  margin-top: 0.25rem;
}

#editModal {
  top: -5rem;
}

.modal-btns-container {
  display: flex;
}

.edit-btns {
  width: 100%;
}
