<h3 class="mb-3">Pending Lab Assistant Requests</h3>
<div class="list-container" id="main-container">
  <div
    *ngFor="
      let request of pendingRequests
        | paginate
          : {
              itemsPerPage: 5,
              currentPage: pageNo,
              totalItems: numberOfRequests
            }
    "
    class="card mb-2"
  >
    <div class="card-body">
      <div class="list-info ml-3">
        <h5 class="card-title">{{ request.name }}</h5>
        <h6>{{ request.lab }}</h6>
      </div>
      <button class="btn btn-primary view-btn" (click)="onViewModal(request)">
        View
      </button>
    </div>
  </div>

  <pagination-controls
    (pageChange)="pageNo = $event"
    class="float-right"
  ></pagination-controls>

  <!-- Modal -->
  <div
    class="modal fade"
    id="acceptOrRejectModal"
    data-bs-backdrop="static"
    data-bs-keyboard="false"
    tabindex="-1"
    aria-labelledby="staticBackdropLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">
            Accept/Reject Registration Request
          </h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <div class="container modal-container">
            <label for="hospitalName" class="form-label"
              >Lab Assistant Name</label
            >
            <input
              type="text"
              class="form-control"
              id="hospitalName"
              [(ngModel)]="selectedRequest.name"
            />
            <label for="email" class="form-label">Lab Assistant Email</label>
            <input
              type="text"
              class="form-control"
              id="email"
              [(ngModel)]="selectedRequest.email"
            />
            <label for="hospitalName" class="form-label">Registering Lab</label>
            <input
              type="text"
              class="form-control"
              id="lab"
              [(ngModel)]="selectedRequest.lab"
            />
            <div class="row justify-content-around mt-4">
              <div class="col-6">
                <button
                  type="button"
                  class="btn btn-success edit-btns"
                  (click)="onAccept()"
                  data-bs-dismiss="modal"
                >
                  Accept Request &nbsp;
                  <fa-icon [icon]="faAccept"></fa-icon>
                </button>
              </div>
              <div class="col-6">
                <button
                  type="button"
                  class="btn btn-danger edit-btns"
                  data-bs-dismiss="modal"
                >
                  Reject Request &nbsp;
                  <fa-icon [icon]="faReject"></fa-icon>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
