<app-topnav></app-topnav>

<div class="card-deck my-3" style="margin-right: auto; margin-left: auto;">
    <div class="card" style="background: rgba(76, 175, 80, 0.7)">
      <div class="card-body" >
        <h4 style="color: aliceblue;border-style:dotted">Patient Details</h4>
        <h5>Name&nbsp; :  {{checkoutInfo.name}}</h5>
        <h5>NIC &nbsp; &nbsp; : {{checkoutInfo.nic}}</h5>
        <h5>Phone : {{checkoutInfo.phone}} </h5>
        <br>
        <h4 style="color: aliceblue;border-style:dotted">Lab/Checkup Details</h4>
        <h5>Test Name &nbsp; &nbsp;  : {{checkoutInfo.test}}</h5>
        <h5>Hospital &nbsp; &nbsp; &nbsp; &nbsp;  : {{checkoutInfo.hospital}}</h5>
        <h5>Price &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;: Rs.{{checkoutInfo.price}}</h5>
        <h5>Booked Date : {{checkoutInfo.date}}</h5><br>
        <h5 style="color: brown;">* Terms & Conditions</h5>
        <p>1.Booked Lab/Checkup tests are only valid for 30 days.</p>
        <p>2.Cannot refund after confirming the transaction.</p>
        <p>3.For further information contact 111.</p>
      </div>
    </div>
    <div class="card">
        <h4>Payment Details</h4>
        <table style="border: 1px;">
            <tr>
                <td>Test fee</td><td>Rs.{{checkoutInfo.price}}</td>
            </tr>
            <tr>
                <td>Hospital fee</td><td>Rs.{{checkoutInfo.hosFee}}</td>
            </tr>
            <tr>
                <td>Online Service fee</td><td>Rs.{{checkoutInfo.onlineFee}}</td>
            </tr>
            <tr>
                <td style="font-size:larger; color: brown;">Toatal Payment</td><td style="font-size:larger; color: brown;">Rs.{{checkoutInfo.total}}</td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <button (click) = "pay()" style="border-radius: 20px;color: aliceblue; font-size: smaller; background-color: rgb(216, 19, 101);">PAY AT HOSPITAL</button> &nbsp; 
                    <button (click) = "payOnline()" style="border-radius: 20px;color: aliceblue; font-size: smaller; background-color: rgb(216, 19, 101);">PAY ONLINE</button>
                </td>
            </tr>
        
            <tr *ngIf = "success == true">
                <td colspan="2">
                    <h5 style="color: green;">Successfully Booked the Lab Test/Checkup</h5>
                    <h5 style="color: rgb(109, 3, 56);">Your Reference Number : {{checkoutInfo.ref}}</h5>
                    <h5 style="color: rgb(11, 5, 59);">Please Check your mobile for Appointment Details</h5>
                </td>
            </tr>
            
        </table>
       
    </div>
</div>
          
<app-footer></app-footer>

