<mdb-carousel class="carousel slide carousel-fade" [animation]="'fade'">
    <mdb-carousel-item>
      <div class="view w-100">
        <img class="d-block w-100" src="https://www.linkpicture.com/q/Webp.net-resizeimage-2_19.jpg" alt="First slide">
        <div class="mask rgba-black-slight waves-light" mdbWavesEffect></div>
      </div>
      <div class="carousel-caption">
        <h3 class="h3-responsive cyan">Channel Your Favourite Doctor Today</h3>
        <p class="font-weight-bold cyan">You can make appointments easily and efficiantly using this web application</p>
      </div>
    </mdb-carousel-item>
    <mdb-carousel-item>
        <div class="view w-100">
          <img class="d-block w-100" src="https://www.linkpicture.com/q/Webp.net-resizeimage-4_3.jpg" alt="Second slide">
          <div class="mask rgba-black-slight waves-light" mdbWavesEffect></div>
        </div>
        <div class="carousel-caption">
          <h3 class="h3-responsive cyan">Dental Appointments</h3>
          <p class="font-weight-bold cyan">Search for dental doctors</p>
        </div>
      </mdb-carousel-item>
    <mdb-carousel-item>
      <div class="view w-100">
        <img class="d-block w-100" src="https://www.linkpicture.com/q/Webp.net-resizeimage-5_2.jpg" alt="Second slide">
        <div class="mask rgba-black-slight waves-light" mdbWavesEffect></div>
      </div>
      <div class="carousel-caption">
        <h3 class="h3-responsive cyan">Medical Checkups & Lab Tests</h3>
        <p class="font-weight-bold cyan">Select and book you medical tests</p>
      </div>
    </mdb-carousel-item>
    <mdb-carousel-item>
      <div class="view w-100">
        <img class="d-block w-100" src="https://www.linkpicture.com/q/Webp.net-resizeimage-1_33.jpg" alt="Third slide">
        <div class="mask rgba-black-slight waves-light" mdbWavesEffect></div>
      </div>
      <div class="carousel-caption">
        <h3 class="h3-responsive cyan">Book Your Lab Test Today</h3>
        <p class="font-weight-bold cyan">Quick and easy</p>
      </div>
    </mdb-carousel-item>
  </mdb-carousel>