<mdb-carousel class="carousel slide carousel-fade" [animation]="'fade'">
    <mdb-carousel-item>
      <div class="view w-100">
        <img class="d-block w-100" src="https://www.linkpicture.com/q/Webp.net-resizeimage-2_19.jpg" alt="First slide">
        <div class="mask rgba-black-slight waves-light" mdbWavesEffect></div>
      </div>
      <div class="carousel-caption">
        <h3 class="h3-responsive" style="color: black; background-color: aliceblue; opacity: 70%;">Channel Your Favourite Doctor Today</h3>
        <p class="font-weight-bold" style="color: black; background-color: aliceblue; opacity: 70%;">Quick and easy online appointments</p>
      </div>
    </mdb-carousel-item>
    <mdb-carousel-item>
        <div class="view w-100">
          <img class="d-block w-100" src="https://www.linkpicture.com/q/Webp.net-resizeimage-4_3.jpg" alt="Second slide">
          <div class="mask rgba-black-slight waves-light" mdbWavesEffect></div>
        </div>
        <div class="carousel-caption">
          <h3 class="h3-responsive " style="color: black; background-color: aliceblue; opacity: 70%;">Dental Appointments</h3>
          <p class="font-weight-bold " style="color: black; background-color: aliceblue; opacity: 70%;">Search for dental doctors</p>
        </div>
      </mdb-carousel-item>
    <mdb-carousel-item>
      <div class="view w-100">
        <img class="d-block w-100" src="https://www.linkpicture.com/q/Webp.net-resizeimage-7_1.jpg" alt="Second slide">
        <div class="mask rgba-black-slight waves-light" mdbWavesEffect></div>
      </div>
      <div class="carousel-caption">
        <h3 class="h3-responsive " style="color: black; background-color: aliceblue; opacity: 70%;">Medical Checkups & Lab Tests</h3>
        <p class="font-weight-bold " style="color: black; background-color: aliceblue; opacity: 70%;">Select and book you medical tests</p>
      </div>
    </mdb-carousel-item>
    <mdb-carousel-item>
      <div class="view w-100">
        <img class="d-block w-100" src="https://www.linkpicture.com/q/Webp.net-resizeimage-1_33.jpg" alt="Third slide">
        <div class="mask rgba-black-slight waves-light" mdbWavesEffect></div>
      </div>
      <div class="carousel-caption">
        <h3 class="h3-responsive " style="color: black; background-color: aliceblue; opacity: 70%;">Book Your Lab Test Today</h3>
        <p class="font-weight-bold " style="color: black; background-color: aliceblue; opacity: 70%;">Quick and easy</p>
      </div>
    </mdb-carousel-item>
  </mdb-carousel>