<div class="page-title">
    <h3>Update Hospital Data</h3>
    <p>dashboard / hospitalprofile</p>
</div>

<form>
    <div class="row justify-content-center">
        <div class="col-sm-8 col-lg-6">
            <div class="form-group row mt-4">
                <label for="staticEmail" class="col-sm-2 col-form-label">Hospital Name</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" />
                </div>
            </div>
            <div class="form-group row mt-4">
                <label for="staticEmail" class="col-sm-2 col-form-label">Hospital Address</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" />
                </div>
            </div>
            <div class="form-group row mt-4">
                <label for="staticEmail" class="col-sm-2 col-form-label">Hospital City</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" />
                </div>
            </div>
            <div class="form-group row mt-4">
                <label for="staticEmail" class="col-sm-2 col-form-label">Hospital Status</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" />
                </div>
            </div>
            <div class="form-group row mt-4">
                <label for="staticEmail" class="col-sm-2 col-form-label">Hospital Contact No</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" />
                </div>
            </div>
            <div class="form-group row mt-4">
                <label for="staticEmail" class="col-sm-2 col-form-label">Hospital Email</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" />
                </div>
            </div>
            <div class="form-group row mt-4">
                <label for="staticEmail" class="col-sm-2 col-form-label">Hospital Registration No</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" />
                </div>
            </div>
            <div class="button-container">
                <button class="btn btn-primary">Update Hospital</button>
            </div>
        </div>
    </div>
</form>