<app-topnav></app-topnav>
<div class="container my-3" style="max-height: 110px; background-color: green; border-radius: 20px;">
  <h5 style="text-align: center; color: aliceblue;">Filter By Date</h5>
  <table class="d-flex justify-content-around">
    <tr>
    <td style="padding-bottom: 18px;"> <input type="text" id="dateVal" [(ngModel)] = "datevalue" (ngModelChange) = "searchDate()" placeholder="Ex: 2021-08-10"></td>
   </tr>
  </table>
</div>

<div class="card-deck my-3"style="margin-right: auto; margin-left: auto;">
    <div class="card bg-success">
      <div class="card-body" >
        <h3 style="border-style:double;">SELECT A TIME SLOT</h3><br>
        <h4 style="color: aliceblue;border-style:ridge">Doctor's Details</h4>
        <h5 >Name &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; : {{selectedDoc.name}}</h5>
        <h5>Specialization : {{selectedDoc.specialization}}</h5>
        <h5>Hospital &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; :  {{selectedDoc.hospital}}</h5>
      </div>
    </div>
    <div class="card">
              <table class="table table-striped" style="font-size: smaller;">
                <thead>
                  <tr>
                    <th>Date</th>
                    <th>Time</th>
                    <th>Active Patients</th>                  
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let shedule of shedules">
                    <td>{{shedule.date}}</td>
                    <td>{{shedule.time}}</td>
                    <td>{{shedule.ap}}</td>
                    <td><button class="btn btn-success btn-sm" (click) = "callPd(shedule.id)" style="border-radius: 20px;">Select</button>
                    </td>
                  </tr>
                </tbody>
              </table>
     
    </div>
  </div>

<app-footer></app-footer>
