<app-top-nav-logged></app-top-nav-logged>
<div class="container my-3" style="max-height: 110px; background-color: green; border-radius: 20px;">
  <h5 style="text-align: center; color: aliceblue;">Filter By Date</h5>
  <table class="d-flex justify-content-around">
    <tr>
    <td style="padding-bottom: 18px;"> <input type="text" id="dateVal" [(ngModel)] = "datevalue" (ngModelChange) = "searchDate()" placeholder="Ex: 2021-08-10"></td>
   </tr>
  </table>
</div>

<div class="card-deck my-3"style="margin-right: auto; margin-left: auto;">
    <div class="card bg-success">
      <div class="card-body" >
        <h2 style="border-style:double;">SELECT A TIME SLOT</h2><br>
        <h2 style="color: aliceblue;border-style:dotted">Doctor's Details</h2>
        <h4 >Name : A.C.N Perera</h4>
        <h4>Specialization : Dentist</h4>
        <h4>Hospital : Asiri-Colombo</h4>
      </div>
    </div>
    <div class="card">
              <table class="table table-striped" style="font-size: smaller;">
                <thead>
                  <tr>
                    <th>Date</th>
                    <th>Time</th>
                    <th>Active Patients</th>
                    <th>Availabilty</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let shedule of shedules">
                    <td>{{shedule.date}}</td>
                    <td>{{shedule.time}}</td>
                    <td>{{shedule.ap}}</td>
                    <td>{{shedule.availabilty}}</td>
                    <td><button class="btn btn-success" (click) = "callPd()" style="border-radius: 20px;">Select</button>
                    </td>
                  </tr>
                </tbody>
              </table>
     
    </div>
  </div>

<app-footer></app-footer>
