@import url("https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

.card-body {
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.view-btn {
  height: 2.5rem;
  margin-top: 1rem;
}

.modal-header {
  text-decoration: none;
  font-family: "Josefin Sans", sans-serif;
  text-align: center;
}

.modal-footer {
  justify-content: center;
}

#removeManagerBtn {
  width: 60%;
  text-align: center;
}
