<div  class="container-md py-4 mt-5" style="background-color: rgb(26, 21, 71); border-radius: 20px;">
    <h2 class = "text-center" style="color: azure;">BOOK NOW</h2>
    <div class="card mx-auto" style="width:500px;">
        <form class="text-center border border-light p-5">
    
            <div class="form-floating mb-2">
                <input type="text" class="form-control" id="searchDocName" placeholder="Doctor's Name">
                <label for="floatingInput">Doctor's Name</label>
            </div>
            
            <div class="form-floating mb-2">
                <select class="form-select" id="searchDocSpecial" aria-label="Floating label select example" >
                <option selected>Any</option>
                <option value="1">Cardiologist</option>
                <option value="2">Dental</option>
                <option value="3">Gynocologist</option>
                </select>
                <label for="floatingSelect">Select Specialization</label>
            </div>
            
            <div class="form-floating mb-2">
                <select class="form-select" id="searchDocHos" aria-label="Floating label select example" >
                <option selected>Any</option>
                <option value="1">Asiri</option>
                <option value="2">CCC</option>
                <option value="3">Kumudu</option>
                </select>
                <label for="floatingSelect">Select Hospital</label>
            </div>
            
            <div class="form-floating mb-2">
                <input type="date" class="form-control" id="apDate" placeholder="Appointment Date" >
                <label for="floatingInput">Appointment Date</label>
            </div>
            <!-- Sign in button -->
            <button mdbBtn color="green" class="my-2" type="submit" style="border-radius: 40px;">Search</button>
            </form>
    </div>
</div>


<div class="container">
    <div class="card-deck py-3 mt-5 mb-5">
        <div class="card bg-primary">
          <div class="card-body text-center">
            <div class="card-body" style="color: aliceblue ;">
                <h4 class="card-title">Call Us</h4>
                <p class="card-text">Need and help with the system? Please call us any time.</p>
                <h5 class="card-title font-weight-bold">+94(0)112 123 121 </h5>
              </div>
          </div>
        </div>
        <div class="card bg-warning">
          <div class="card-body text-center">
            <div class="card-body" style="color: aliceblue ;">
                <h4 class="card-title">Call Us</h4>
                <p class="card-text">Ambulance Services</p>
                <h5 class="card-title font-weight-bold">+94(0)112 123 121 </h5>
                <h5 class="card-title font-weight-bold">+94(0)112 123 121 </h5>
                <h5 class="card-title font-weight-bold">+94(0)112 123 121 </h5>
          </div>
          </div>
        </div>
        <div class="card bg-success">
          <div class="card-body text-center">
            <div class="card-body" style="color: aliceblue ;">
                <h4 class="card-title">Call Us</h4>
                <p class="card-text">Need and help with the system? Please call us any time.</p>
                <h5 class="card-title font-weight-bold">+94(0)112 123 121 </h5>
              </div>
          </div>
        </div>
        <div class="card bg-danger">
          <div class="card-body text-center">
            <div class="card-body" style="color: aliceblue ;">
                <h4 class="card-title">Call Us</h4>
                <p class="card-text">Ambulance Services</p>
                <h5 class="card-title font-weight-bold">+94(0)112 123 121 </h5>
                <h5 class="card-title font-weight-bold">+94(0)112 123 121 </h5>
                <h5 class="card-title font-weight-bold">+94(0)112 123 121 </h5>
          </div>
          </div>
        </div>
      </div>

</div>