<div class="list-container" id="main-container">
  <h6 *ngIf="isLoading" style="text-align: center">Loading requests...</h6>
  <div
    *ngFor="
      let pendingManager of pendingManagers
        | paginate
          : {
              itemsPerPage: 5,
              currentPage: pageNo,
              totalItems: numberOfRequests
            }
    "
    class="card mb-2"
  >
    <div class="card-body">
      <div class="list-info ml-3">
        <h5 class="card-title">
          {{ pendingManager.fname }} {{ pendingManager.lname }}
        </h5>
        <h6>{{ pendingManager.hospital.hospitalName }}</h6>
      </div>
      <button
        class="btn btn-primary view-btn"
        (click)="onViewModal(pendingManager)"
      >
        View
      </button>
    </div>
  </div>
  <pagination-controls
    (pageChange)="pageNo = $event"
    class="float-right"
  ></pagination-controls>

  <!-- Modal -->
  <div
    class="modal fade"
    id="acceptOrRejectModal"
    data-bs-backdrop="static"
    data-bs-keyboard="false"
    tabindex="-1"
    aria-labelledby="staticBackdropLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">
            Accept/Reject Registration Request
          </h5>
          <button
            type="button"
            id="modalCloseBtn"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <div class="container modal-container">
            <label for="managerName">Hospital Manager Name</label>
            <input
              type="text"
              class="form-control"
              id="managerName"
              name="managerName"
              value="{{ selectedManager.fname }} {{ selectedManager.lname }}"
              disabled
            />
            <label for="managerHospital" class="mt-4"
              >Registering For Hospital</label
            >
            <input
              type="text"
              class="form-control"
              id="managerHospital"
              name="managerHospital"
              value="{{ selectedManager.hospital.hospitalName }}"
              disabled
            />
            <label for="managerHospital" class="mt-4"
              >Registering Hospital Registration No</label
            >
            <input
              type="text"
              class="form-control"
              id="managerHospitalReg"
              name="managerHospitalReg"
              value="{{ selectedManager.hospital.hospitalRegNo }}"
              disabled
            />
            <div class="row justify-content-around mt-5">
              <div class="col-6">
                <button
                  type="button"
                  class="btn btn-success edit-btns"
                  (click)="onAccept()"
                >
                  Accept Request &nbsp;
                  <fa-icon [icon]="faAccept"></fa-icon>
                </button>
              </div>
              <div class="col-6">
                <button
                  type="button"
                  class="btn btn-danger edit-btns"
                  (click)="onReject()"
                >
                  Reject Request &nbsp;
                  <fa-icon [icon]="faReject"></fa-icon>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
