<div class="container-fluid">
    <div class="page-title">
        <h3>Dashboard</h3>
        <p>dashboard / hospitalmanager</p>
    </div>

    <div class="card row">
        <div class="card-body col-sm-8 d-flex justify-content-between">
            <button (click)="managerProfile()" class="col-sm-6 btn btn-sm btn-primary">Update My Profile</button>
            <button (click)="hospitalProfile()" class="col-sm-6 btn btn-sm btn-info ml-5">Update Hospital Profile</button>
        </div>
    </div>
    
    <div style="width: 50%;" class="mt-5">
        <canvas id="canvas"></canvas>
    </div>

    

</div>