<app-topnav></app-topnav>
<div class="card-deck my-3" style="margin-right: auto; margin-left: auto;">
    <div class="card" style="background: rgba(76, 175, 80, 0.7)">
      <div class="card-body" *ngIf = "pat">
        <h4>Welcome {{pat.firstName}}</h4>
        
      </div>
      <h4>Reset Password</h4>
      <div class="register-form" style="font-size: small;">
        <form [formGroup]="formResetPassword" (ngSubmit)="onSubmitPass()">

            <div class="form-group">
                <label> Current Password</label>
                <input
                  type="password"
                  formControlName="curPassword"
                  class="form-control"
                  [ngClass]="{ 'is-invalid': submitted2 && f2.curPassword.errors }"
                />
                <div *ngIf="submitted2 && f2.curPassword.errors" class="invalid-feedback">
                  <div *ngIf="f2.curPassword.errors.required">Password is required</div>
                  <div *ngIf="f2.curPassword.errors.minlength">
                    Password must be at least 6 characters
                  </div>
                  <div *ngIf="f2.curPassword.errors.maxlength">
                    Username must not exceed 40 characters
                  </div>
                </div>
              </div>

            <div class="form-group">
                <label> New Password</label>
                <input
                  type="password"
                  formControlName="password"
                  class="form-control"
                  [ngClass]="{ 'is-invalid': submitted2 && f2.password.errors }"
                />
                <div *ngIf="submitted2 && f2.password.errors" class="invalid-feedback">
                  <div *ngIf="f2.password.errors.required">Password is required</div>
                  <div *ngIf="f2.password.errors.minlength">
                    Password must be at least 6 characters
                  </div>
                  <div *ngIf="f2.password.errors.maxlength">
                    Username must not exceed 40 characters
                  </div>
                </div>
              </div>
      
              <div class="form-group">
                <label>Confirm New Password</label>
                <input
                  type="password"
                  formControlName="confirmPassword"
                  class="form-control"
                  [ngClass]="{ 'is-invalid': submitted2 && f2.confirmPassword.errors}"
                />
                <div
                  *ngIf="submitted2 && f2.confirmPassword.errors"
                  class="invalid-feedback"
                >
                  <div *ngIf="f2.confirmPassword.errors.required">
                    Confirm Password is required
                  </div>
                  <div *ngIf="f2.confirmPassword.errors.matching">
                    New Confirm Password does not match
                  </div>
                </div>
              </div>
              <div class="form-group ">  
                <button type="submit" [disabled]="formResetPassword.invalid"  class="btn btn-primary float-right" style="border-radius: 20px;">Update</button>
              </div>
        </form>
        <div [hidden]="!submitted2">
            <h4 style="text-align: center; color: green; font-size:large;">Password Updated successfully!</h4>
          </div> 
    </div>


    </div>
    <div class="card">
      <h4>Update Your Profile</h4>
        <div class="register-form" style="font-size: small;">
            <form [formGroup]="form" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <label>Title</label>
                    <select
                      type="text"
                      formControlName="title"
                      class="form-select"
                      [ngClass]="{ 'is-invalid': submitted && f.title.errors }"
                    >
                    <option value="Mr.">Mr.</option>
                    <option value="Mrs.">Mrs.</option>
                    <option value="Miss">Miss</option>
                    <option value="Ven.">Ven.</option>
                  </select>
                    <div *ngIf="submitted && f.title.errors" class="invalid-feedback">
                      <div *ngIf="f.title.errors.required">Tilte is required</div>
                    </div>
                  </div>
          
                  <div class="form-group">
                    <label>First Name</label>
                    <input
                      type="text"
                      formControlName="firstName"
                      class="form-control"
                      [ngClass]="{'is-invalid': submitted && f.firstName.errors}"
                    />
                    <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                      <div *ngIf="f.firstName.errors.required">First name is required</div>
                      <div *ngIf="f.firstName.errors.maxlength">
                        Last name must not exceed 20 characters
                      </div>
                    </div>
                  </div>
          
                  <div class="form-group">
                    <label>Last Name</label>
                    <input
                      type="text"
                      formControlName="lastName"
                      class="form-control"
                      [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }"
                    />
                    <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                      <div *ngIf="f.lastName.errors.required">Last name is required</div>
                      <div *ngIf="f.lastName.errors.maxlength">
                        Last name must not exceed 20 characters
                      </div>
                    </div>
                  </div>
          
                  <div class="form-group">
                    <label>Email</label>
                    <input
                      type="text"
                      formControlName="email"
                      class="form-control"
                      [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
                    />
                    <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                      <div *ngIf="f.email.errors.required">Email is required</div>
                      <div *ngIf="f.email.errors.email">Email is invalid</div>
                    </div>
                  </div>
          
                  <div class="form-group">
                    <label>NIC</label>
                    <input
                      type="text"
                      formControlName="nic"
                      class="form-control"
                      [ngClass]="{ 'is-invalid': submitted && f.nic.errors }"
                    />
                    <div *ngIf="submitted && f.nic.errors" class="invalid-feedback">
                      <div *ngIf="f.nic.errors.required">Nic is required</div>
                      <div *ngIf="f.nic.errors.minlength">Nic must have atleast 10 characters</div>
                      <div *ngIf="f.nic.errors.maxlength">Nic can not exeed 12 characters</div>
                    </div>
                  </div>
          
                  <div class="form-group">
                    <label>Mobile</label>
                    <input
                      type="text"
                      formControlName="phone"
                      class="form-control"
                      [ngClass]="{ 'is-invalid': submitted && f.phone.errors }"
                    />
                    <div *ngIf="submitted && f.phone.errors" class="invalid-feedback">
                      <div *ngIf="f.phone.errors.required">Mobile number is required</div>
                      <div *ngIf="f.phone.errors.minlength">Mobile must have atleast 10 numbers</div>
                      <div *ngIf="f.phone.errors.maxlength">Mobile can not exeed 12 numbers</div>
                      <div *ngIf="f.phone.errors.pattern">Enter a valid number</div>
                    </div>
                  </div>
          
                  <div class="form-group">
                    <label>Date of Birth</label>
                    <input
                      type="date"
                      formControlName="dob"
                      class="form-control"
                      [max]="getToday()"
                      [ngClass]="{ 'is-invalid': submitted && f.dob.errors }"
                    />
                    <div *ngIf="submitted && f.dob.errors" class="invalid-feedback">
                      <div *ngIf="f.dob.errors.required">Date of bitrh is required</div>
                    </div>
                  </div>
          
                  <div class="form-group ">  
                    <button type="submit" [disabled]="form.invalid" class="btn btn-primary float-right" style="border-radius: 20px;">Update</button>
                  </div>
       
            </form>
          </div>
          <div [hidden]="!updateStat">
            <h4 style="text-align: center; color: green; font-size:large;">Update successfully!</h4>
          </div> 
         
            </div>
          </div>
          
<app-footer></app-footer>
