
<app-topnav></app-topnav>

<div class="containe">
  <app-search-aapointments></app-search-aapointments>
    <!-- <h5 style="text-align: center; color: aliceblue;">Filter By</h5>
    <table class="d-flex justify-content-around">
      <tr>
      <td style="padding-bottom: 18px;"> <input type="text" id="docNm" onkeyup="myFunction()" placeholder="Doctor Name"></td>
      <td> 
        <select class="form-select form-select-sm mb-3" id="docSpe" onkeyup="myFunction()">
          <option selected disabled> Doctor Specialization</option>
          <option >Cardiologist</option>
          <option >Sergion</option>
        </select></td>
        <td> 
          <select class="form-select form-select-sm mb-3" id="docSpe" onkeyup="myFunction()">
            <option selected disabled> Status </option>
            <option >In progress</option>
            <option >Completed</option>
          </select></td>
        </tr>
    </table> -->
    <button style="float: right; margin: 10px 0 ; font-size: smaller; border-radius: 30px; background-color: rgb(124, 218, 18);">Print Appointment</button>
</div>

<div class="panel panel-primary">
    <div class="panel-heading">
    </div>
    <div class="panel-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Referece No.</th>
            <th>Doctor</th>
            <th>Specialization</th>
            <th>Hospital</th>
            <th>Date</th>
            <th>Time</th>
            <th>Payment</th>
            <th>Ticket No.</th>
          </tr>
        </thead>
        <tbody>
           <tr>
              <td>{{appointments.ref}}</td>
              <td>{{appointments.doc}}</td>
              <td>{{appointments.spec}}</td>
              <td>{{appointments.hospital}}</td>
              <td>{{appointments.date}}</td>
              <td>{{appointments.time}}</td>
              <td>Rs.{{appointments.total}}</td>
              <td>{{appointments.ap}}</td>
              <td><button (click)="deleteAppointment(appointments.appointment_id)" class="btn btn-danger btn-sm">Cancel</button>
          </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
<app-footer></app-footer>