<div class="page-title">
    <h3>Update Hospital Manager Data</h3>
    <p>dashboard / managerprofile</p>
</div>

<form>
    <div class="row justify-content-center">
        <div class="col-sm-8 col-lg-6">
            <div class="form-group row mt-4">
                <label for="staticEmail" class="col-sm-2 col-form-label">First Name</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" />
                </div>
            </div>
            <div class="form-group row mt-4">
                <label for="staticEmail" class="col-sm-2 col-form-label">Last Name</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" />
                </div>
            </div>
                <div class="button-container">
                <button class="btn btn-primary">Update Manager Details</button>
            </div>
        </div>
    </div>
</form>