<div class="container">
  <h1 class="reg-header">Registered Hospitals</h1>
  <form class="d-flex">
    <input
      class="form-control me-2"
      type="search"
      placeholder="Search"
      aria-label="Search"
    />
    <button class="btn btn-outline-success" type="submit">
      <fa-icon [icon]="faSearch"></fa-icon>
    </button>
  </form>
  <div class="list-container">
    <div class="card">
      <div class="card-body">
        <h2>Hospital Name</h2>
        <p>Hospital Address, City</p>
        <button>Manage</button>
      </div>
    </div>
  </div>
</div>
