<div class="container">
  <h1 class="reg-header">Registered Hospitals</h1>
  <form class="d-flex">
    <input
      class="form-control me-2"
      type="search"
      placeholder="Search"
      aria-label="Search"
    />
    <button class="btn btn-outline-success" type="submit">
      <fa-icon [icon]="faSearch"></fa-icon>
    </button>
  </form>
  <div class="list-container">
    <div class="card">
      <div class="card-body">
        <div class="card-info">
          <h3>Hospital Name</h3>
          <p>Hospital Address, City</p>
        </div>
        <button type="button" class="btn btn-info">
          Manage
          <fa-icon [icon]="faEdit"></fa-icon>
        </button>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <div class="card-info">
          <h3>Hospital Name</h3>
          <p>Hospital Address, City</p>
        </div>
        <button type="button" class="btn btn-info">
          Manage
          <fa-icon [icon]="faEdit"></fa-icon>
        </button>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <div class="card-info">
          <h3>Hospital Name</h3>
          <p>Hospital Address, City</p>
        </div>
        <button type="button" class="btn btn-info">
          Manage
          <fa-icon [icon]="faEdit"></fa-icon>
        </button>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <div class="card-info">
          <h3>Hospital Name</h3>
          <p>Hospital Address, City</p>
        </div>
        <button type="button" class="btn btn-info">
          Manage
          <fa-icon [icon]="faEdit"></fa-icon>
        </button>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <div class="card-info">
          <h3>Hospital Name</h3>
          <p>Hospital Address, City</p>
        </div>
        <button type="button" class="btn btn-info">
          Manage
          <fa-icon [icon]="faEdit"></fa-icon>
        </button>
      </div>
    </div>
    <nav aria-label="Page navigation example">
      <ul class="pagination">
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
            <span class="sr-only">Previous</span>
          </a>
        </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
            <span class="sr-only">Next</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>
