
<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark green sticky-top" [containerInside]="false">

<!-- Navbar brand -->
<mdb-navbar-brand><a class="navbar-brand" href="patient/home">Channel24-7</a></mdb-navbar-brand>

<!-- Collapsible content -->
<links>

  <!-- Links -->
  <ul class="navbar-nav ml-auto">
    <li class="nav-item active">
      <a class="nav-link waves-light" mdbWavesEffect><mdb-icon fas icon="home"></mdb-icon> Home<span class="sr-only">(current)</span></a>
    </li>
    
    <li class="nav-item">
      <a class="nav-link waves-light"  mdbWavesEffect><mdb-icon fas icon="user-md"></mdb-icon> Book Appointment</a>
    </li>
    <li class="nav-item">
      <a class="nav-link waves-light" mdbWavesEffect><mdb-icon fas icon="clipboard-check"></mdb-icon> Medical Checkups</a>
    </li>
    <li class="nav-item">
        <a class="nav-link waves-light" mdbWavesEffect><mdb-icon far icon="list-alt"></mdb-icon> My Appointments</a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" data-bs-toggle="modal" data-bs-target="#refundModal" mdbWavesEffect><mdb-icon fas icon="hand-holding-usd"></mdb-icon> Claim Refund</a>
      </li>

      <li class="nav-item">
        <a class="nav-link waves-light" data-bs-toggle="modal" data-bs-target="#signinModal" mdbWavesEffect><mdb-icon fas icon="user"></mdb-icon>Sign in</a>
      </li>

    <!-- Dropdown
    <li class="nav-item dropdown" dropdown>
      <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
        <mdb-icon fas icon="user"></mdb-icon> Sing in<span class="caret"></span></a>
      <div *dropdownMenu class="dropdown-menu dropdown-menu-right dropdown dropdown-primary" role="menu">
        <a class="dropdown-item waves-light" mdbWavesEffect href="#">My account</a>
        <a class="dropdown-item waves-light" mdbWavesEffect href="#">Log out</a>
      </div>
    </li> -->

  </ul>
  <!-- Links -->
</links>
<!-- Collapsible content -->

</mdb-navbar>
<!--/.Navbar-->





<!-- Modal for Sign in-->
<div class="modal fade" id="signinModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
<div class="modal-dialog">
<div class="modal-content">
  <div class="modal-header">
    <h4 class="modal-title" id="staticBackdropLabel" style="color: rgb(4, 61, 21)" >Sign in</h4>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
  </div>
  <div class="modal-body">
        <!-- Default form login -->
<form class="text-center border border-light p-5" [formGroup] = "exform">
<!-- Email -->
<div class="form-floating mb-2">
<input type="email" formControlName = "logEmail" id="defaultLoginFormEmail" class="form-control" placeholder="E-mail" required>
<small *ngIf = "exform.get('logEmail').invalid && exform.get('logEmail').touched" class = "text-danger">A valid email is mandatory</small>
<label for="floatingInput">Email</label>
</div>

<!-- Password -->
<div class="form-floating mb-2">
<input type="password" formControlName = "password" id="defaultLoginFormPassword" class="form-control mt-4" placeholder="Password" required>
<small *ngIf = "exform.get('password').invalid && exform.get('password').touched" class = "text-danger">Password must have atleast 6 characters</small>
<label for="floatingInput">Password</label>
</div>

<div class="d-flex justify-content-around">
<!-- <div>
  <mdb-checkbox [default]="true">Remember me</mdb-checkbox>
</div> -->
<div class="p-2">
  <!-- Forgot password -->
  <a href="">Forgot password?</a>
</div>
</div>

<!-- Sign in button -->
<button mdbBtn color="green" class="my-4" type="submit"style="border-radius: 40px;">Sign in</button>

<!-- Register -->
<p>Not a member?
<a data-bs-toggle="modal" data-bs-target="#signupModal" style="color: blue;">Register</a>
</p>
</form>
<!-- Default form login -->

  </div>
  <!-- <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
  </div> -->
</div>
</div>
</div>


















<!-- Modal for Sign up-->
<div class="modal fade" id="signupModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="staticBackdropLabel" style="color: rgb(4, 61, 21);">Sign up</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <!-- <div [hidden]="submitted" style="width: 400px;"> -->

    <div class="register-form">
      <form [formGroup]="form" (ngSubmit)="onSubmit()">

        <div class="form-group">
          <label>Title</label>
          <select
            type="text"
            formControlName="title"
            class="form-select"
            [ngClass]="{ 'is-invalid': submitted && f.title.errors }"
          >
          <option value="Mr.">Mr.</option>
          <option value="Mrs.">Mrs.</option>
          <option value="Miss">Miss</option>
          <option value="Ven.">Ven.</option>
        </select>
          <div *ngIf="submitted && f.title.errors" class="invalid-feedback">
            <div *ngIf="f.title.errors.required">Tilte is required</div>
          </div>
        </div>

        <div class="form-group">
          <label>First Name</label>
          <input
            type="text"
            formControlName="firstName"
            class="form-control"
            [ngClass]="{'is-invalid': submitted && f.firstName.errors}"
          />
          <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
            <div *ngIf="f.firstName.errors.required">First name is required</div>
            <div *ngIf="f.firstName.errors.maxlength">
              Last name must not exceed 20 characters
            </div>
          </div>
        </div>

        <div class="form-group">
          <label>Last Name</label>
          <input
            type="text"
            formControlName="lastName"
            class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }"
          />
          <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
            <div *ngIf="f.lastName.errors.required">Last name is required</div>
            <div *ngIf="f.lastName.errors.maxlength">
              Last name must not exceed 20 characters
            </div>
          </div>
        </div>

        <div class="form-group">
          <label>Email</label>
          <input
            type="text"
            formControlName="email"
            class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
          />
          <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
            <div *ngIf="f.email.errors.required">Email is required</div>
            <div *ngIf="f.email.errors.email">Email is invalid</div>
          </div>
        </div>

        <div class="form-group">
          <label>NIC</label>
          <input
            type="text"
            formControlName="nic"
            class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.nic.errors }"
          />
          <div *ngIf="submitted && f.nic.errors" class="invalid-feedback">
            <div *ngIf="f.nic.errors.required">Nic is required</div>
            <div *ngIf="f.nic.errors.minlength">Nic must have atleast 10 characters</div>
            <div *ngIf="f.nic.errors.maxlength">Nic can not exeed 12 characters</div>
          </div>
        </div>

        <div class="form-group">
          <label>Mobile</label>
          <input
            type="text"
            formControlName="phone"
            class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.phone.errors }"
          />
          <div *ngIf="submitted && f.phone.errors" class="invalid-feedback">
            <div *ngIf="f.phone.errors.required">Mobile number is required</div>
            <div *ngIf="f.phone.errors.minlength">Mobile must have atleast 10 numbers</div>
            <div *ngIf="f.phone.errors.maxlength">Mobile can not exeed 12 numbers</div>
            <div *ngIf="f.phone.errors.pattern">Enter a valid number</div>
          </div>
        </div>

        <div class="form-group">
          <label>Date of Birth</label>
          <input
            type="date"
            formControlName="dob"
            class="form-control"
            [max]="getToday()"
            [ngClass]="{ 'is-invalid': submitted && f.dob.errors }"
          />
          <div *ngIf="submitted && f.dob.errors" class="invalid-feedback">
            <div *ngIf="f.dob.errors.required">Date of bitrh is required</div>
          </div>
        </div>

        <div class="form-group">
          <label>Password</label>
          <input
            type="password"
            formControlName="password"
            class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.password?.errors }"
          />
          <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
            <div *ngIf="f.password.errors.required">Password is required</div>
            <div *ngIf="f.password.errors.minlength">
              Password must be at least 6 characters
            </div>
            <div *ngIf="f.password.errors.maxlength">
              Username must not exceed 40 characters
            </div>
          </div>
        </div>

        <div class="form-group">
          <label>Confirm Password</label>
          <input
            type="password"
            formControlName="confirmPassword"
            class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.confirmPassword?.errors}"
          />
          <div
            *ngIf="submitted && f.confirmPassword.errors"
            class="invalid-feedback"
          >
            <div *ngIf="f.confirmPassword.errors.required">
              Confirm Password is required
            </div>
            <div *ngIf="f.confirmPassword.errors.matching">
              Confirm Password does not match
            </div>
          </div>
        </div>

        <div class="form-group form-check">
          <input
            type="checkbox"
            formControlName="acceptTerms"
            class="form-check-input"
            [ngClass]="{ 'is-invalid': submitted && f.acceptTerms.errors }"
          />
          <label for="acceptTerms" class="form-check-label"
            >I have read and agree to the Terms</label
          >
          <div *ngIf="submitted && f.acceptTerms.errors" class="invalid-feedback">
            Accept Terms is required
          </div>
        </div>

        <div class="form-group ">  
          <button
            type="button"
            (click)="onReset()"
            class="btn btn-warning"
            style="border-radius: 20px;"
          >
            Reset
          </button>
          <button type="submit" class="btn btn-primary float-right" style="border-radius: 20px;">Register</button>
        </div>
      </form>
    </div>
    <div [hidden]="!submitted">
      <h4 style="text-align: center; color: green; font-size: small;">You submitted successfully!</h4>
    </div> 
      </div>
    </div>

<!-- Modal for Book Appointments-->
<div class="modal fade" id="bookModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
<div class="modal-dialog">
<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title" id="staticBackdropLabel">Find Your Doctor Here </h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
  </div>
  <div class="modal-body">

<form class="text-center border border-light p-5">

<div class="form-floating mb-3">
<input type="text" class="form-control" id="searchDocName2" placeholder="Doctor's Name">
<label for="floatingInput">Doctor's Name</label>
</div>

<div class="form-floating mb-3">
<select class="form-select" id="searchDocSpecial2" aria-label="Floating label select example" >
  <option selected>Any</option>
  <option value="1">Cardiologist</option>
  <option value="2">Dental</option>
  <option value="3">Gynocologist</option>
</select>
<label for="floatingSelect">Select Specialization</label>
</div>

<div class="form-floating mb-3">
<select class="form-select" id="searchDocHos2" aria-label="Floating label select example" >
  <option selected>Any</option>
  <option value="1">Asiri</option>
  <option value="2">CCC</option>
  <option value="3">Kumudu</option>
</select>
<label for="floatingSelect">Select Hospital</label>
</div>

<div class="form-floating mb-3">
<input type="date" class="form-control" id="apDate2" placeholder="Appointment Date" >
<label for="floatingInput">Appointment Date</label>
</div>
<!-- Sign in button -->
<button mdbBtn color="green" class="my-4" type="submit" style="border-radius: 40px;">Search</button>
</form>
<!-- Default form login -->

  </div>
</div>
</div>
</div>





<!-- Modal for Claim refund-->
<div class="modal fade" id="refundModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="staticBackdropLabel">Claim Refund</h5>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
<!-- Default form login -->
<form class="text-center border border-light p-3">
<div class="form-floating mb-2">
  <input type="text" class="form-control" id="refundRef" placeholder="Reference No." required="required">
  <label for="floatingInput">Reference No.</label>
</div>
<!-- Sign in button -->
<button mdbBtn color="green" class="my-4" type="submit" style="border-radius: 40px;">Submit</button>
</form>
<!-- Default form login -->

    </div>
  </div>
</div>
</div>





