<app-header title="Hospital Managers" [icon]="managerIcon"></app-header>
<app-sidenav></app-sidenav>
<div class="container">
  <div class="row">
    <div class="col-6 mt-2 p-3">
      <h3 class="mb-3">Pending Hospital Manager Requests</h3>
      <div class="list-container">
        <div class="card mb-2">
          <div class="card-body">
            <div class="list-info ml-3">
              <h5 class="card-title">Hospital Manager Name</h5>
              <h6>Details</h6>
            </div>
            <button class="btn btn-primary view-btn">View</button>
          </div>
        </div>
        <div class="card mb-2">
          <div class="card-body">
            <div class="list-info ml-3">
              <h5 class="card-title">Hospital Manager Name</h5>
              <h6>Details</h6>
            </div>
            <button class="btn btn-primary view-btn">View</button>
          </div>
        </div>
        <div class="card mb-2">
          <div class="card-body">
            <div class="list-info ml-3">
              <h5 class="card-title">Hospital Manager Name</h5>
              <h6>Details</h6>
            </div>
            <button class="btn btn-primary view-btn">View</button>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <div class="list-info ml-3">
              <h5 class="card-title">Hospital Manager Name</h5>
              <h6>Details</h6>
            </div>
            <button class="btn btn-primary view-btn">View</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-6 mt-2 p-3 border-start border-2">
      <h3 class="mb-3">Registered Hospital Managers</h3>
      <app-hosmanager-list></app-hosmanager-list>
    </div>
  </div>
</div>
